.home {
    background-color: #ffffff;
opacity: 1;
background-image:  radial-gradient(#61dbfb 2px, transparent 2px), radial-gradient(#61dbfb 2px, #ffffff 2px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;
}